.lines_premium {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 2vh;
}

.line-1-premium {
    width: 31.5vw;
    height: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.line-2-premium {
    width: 31.5vw;
    height: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.line-3-premium {
    width: 31.5vw;
    height: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.score-story-premium-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98vh;
}

.premium_emoji_animated {
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 43.35vw; /* Отступ сверху */
    left: 50%;
    transform: translateX(-50%); /* Только по оси X */
}

.telegram-premium-handline {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.truly-respected-user {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 45vh;
}

.premium-user {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    margin-bottom: 3vh;
}

.status-confirmed {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 6vh;
}

.flames-for-premium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flames-for-premium-count {
    color: white;
    font-size: 10vw;
    font-weight: bold;
}

.flame-emoji-premium {
    width: 10vw;
    height: 10vw;
}

.continue-button-premium {
    position: absolute;
    background-color: white;
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    bottom: 5%;
}

.continue-text {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
}