.lines_reward {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 2vh;
}

.line-1-reward {
    width: 24vw;
    height: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.line-2-reward {
    width: 24vw;
    height: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.line-3-reward {
    width: 24vw;
    height: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.line-4-reward {
    width: 24vw;
    height: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.score-story-reward-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reward-handline {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.reward {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 42.5vh;
}

.flame-emoji-animated-story-reward {
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 43.35vw;
    left: 50%;
    transform: translateX(-50%); 
}

.flames-count-story {
    color: #ffffff;
    font-size: 12vw;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    display: inline-block; /* Добавьте display для правильного позиционирования */
}

@keyframes casinoSpin {
    0% { transform: scale(0.6); }
    100% { transform: scale(1); }
}

.countup-wrapper {
    display: inline-block;
    animation: casinoSpin 2.5s forwards;
}


.flame-text-story {
    color: #ffffff;
    font-size: 8vw;
    font-weight: bold;
    opacity: 50%;
    margin-bottom: 7vh;
}

.thanks {
    color: white;
    font-size: 5vw;
    font-weight: bold;
}

.continue-button-reward {
    position: absolute;
    background-color: white;
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    bottom: 5%;
}

.continue-text {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
}