.lines_years {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 2vh;
}

.line-1-years {
    width: 31.5vw;
    height: 1vw;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

.line-2-years {
    width: 31.5vw;
    height: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.line-3-years {
    width: 31.5vw;
    height: 1vw;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}

.score-story-years-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elite-member {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    margin-top: 2.5vh;
    margin-bottom: 4.5vh;
}

.joined-telegram {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 40vh;
}

.burn-emoji-animated-story {
    position: absolute;
    width: 70vw;
    height: 70vw;
    top: 43.35vw; /* Отступ сверху */
    left: 50%;
    transform: translateX(-50%); /* Только по оси X */
}


.years {
    color: white;
    position: absolute;
    font-size: 70vw;
    font-weight: bold;
    top: 38vw; /* Отступ сверху */
    left: 50%;
    transform: translateX(-50%); /* Только по оси X */
}

.years-info {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.years-ago {
    color: white;
    font-size: 5vw;
    font-weight: bold;
}

.account-top {
    color: white;
    font-size: 4vw;
    font-weight: bold;
}

.top {
    color: white;
    font-size: 5vw;
    font-weight: bold;
}

.continue-button-years {
    position: absolute;
    background-color: white;
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    bottom: 5%;
    text-decoration: none;
}

.continue-text {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
}