.streak-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 87.5vh;
    box-sizing: border-box;
    overflow: auto;
    flex: auto;
}

.logo_streak {
    width: 40vw;
    height: 40vw;
    margin-top: 3.5vh;
    /* opacity: 0%; */
    animation: drop-from-top 0.45s forwards;
}

.day-streak {
    color: white;
    font-size: 40vw;
    font-weight: bold;
    text-align: center;
    animation: appearance-day-streak 0.45s forwards;
}

@keyframes appearance-day-streak {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }

    25% {
        transform: scale(1.1) rotate(1deg);
        opacity: 0.7;
    }

    50% {
        transform: scale(0.8) rotate(-1deg);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.rewards-title {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    margin-bottom: 5vw;
    text-align: center;
}

.rewards-container {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.reward-box-1 {
    border-radius: 15px;
    width: 43vw;
    height: 43vw;
    border: 3px solid #282828;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: drop-from-bottom 1s forwards;
    transition-timing-function: ease-in;
}

.reward-box-2 {
    border-radius: 15px;
    width: 43vw;
    height: 43vw;
    border: 3px solid #282828;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: drop-from-bottom 1.5s forwards;
    transition-timing-function: ease-in;
}

@keyframes drop-from-bottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.emoji_reward {
    width: 20vw;
    height: 20vw;
}

.count-daily-reward {
    color: white;
    font-size: 8vw;
    font-weight: bold;
}

.reward-txt {
    color: white;
    opacity: 50%;
    font-size: 4vw;
    font-weight: bold;
}

.description-daily-reward {
    text-align: center;
    margin-top: 12vw;
    color: white;
    opacity: 50%;
    font-size: 4vw;
    font-weight: bold;
}

.continue-button-daily-reward {
    position: absolute;
    background-color: white;
    width: 90vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    bottom: 5%;
    animation: appearance-continue-button 0.45s forwards;
}

.continue-text {
    color: black;
    font-size: 4vw;
    font-weight: bold;
    text-decoration: none;
}

@keyframes appearance-continue-button {
    0% {
        bottom: -5%;
        transform: scale(1.15);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        bottom: 5%;
        transform: scale(1);
    }
}

.confettie {
    position: absolute;
    width: 100vw;
    height: 100vh;
}