.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 87.5vh;
    width: 100vw;
}

.score-stats {
    width: 100%;
    display: flex;
    position: fixed;
    background-color: black;
}

.score-background {
    height: 7.5vh;
    width: 100%;
    position: absolute;
    opacity: 25%;
}

.score-stats-box {
    width: 100%;
    height: 7.5vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.score-stats-text {
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    text-decoration: none;
}

.play_icon {
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 2.5vw;
}

.profile {
    text-align: center;
    margin-top: 12.5vh;
    margin-bottom: 5vh;
}

.profile-pic {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    margin-bottom: 1.1vh;
}

.home_username {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.1vh;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flame-logo-score {
    width: 3vh;
    height: 3vh;
}

.score-count {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.flame-text-score {
    color: #ffffff;
    font-size: 23px;
    font-weight: bold;
    opacity: 50%;
}

.gifts {
    border-radius: 25px;
    margin-bottom: 7.5vw;
    border: 2px solid rgba(255, 255, 255, 0.144);
    box-sizing: border-box;
}

.in-gifts{
    border-radius: 25px;
    /* background-image: url(/src/img/home/home_background_black_25_opacity.png); */
    background-image: url(/src/img/home/new_background_gifts.webp);
    background-size: cover;
    width: 85vw;
    height: 38.85vw;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(249, 201, 28, 0.05); */
}

.in-gifts-burn{
    border-radius: 25px;
    /* background-image: url(/src/img/home/home_background_black_25_opacity.png); */
    background-image: url(/src/img/home/new_background_burn_2.webp);
    background-size: cover;
    width: 85vw;
    height: 38.85vw;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(255, 68, 27, 0.05); */
}

.gifts-header {
    display: flex;
    justify-content: start;
    color: #ffffff;
    font-size: 6vw;
    font-weight: bold;
    height: 33vw;
}

.gift-gif-and-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gift-gif {
    width: 25vw;
    height: 25vw;
    transition: transform 0.3s ease;
}

.gift-gif:active {
    transform: scale(0.85);
}

.gifts-count {
    /* color: #BFBFBF; */
    color: white;
    font-size: 6vw;
    margin-top: 1vw;
    font-weight: bold;
}

.total-burned-text {
    /* color: #BFBFBF; */
    color: white;
    font-size: 4vw;
    margin-top: 1vw;
    font-weight: bold;
}

.open-gift {
    color: #ffffff;
    font-size: 5vw;
    font-weight: bold;
    margin-top: 10vh;
    /* background-color: #439B52; */
    background-color: #282828;
    padding: 2vw;
    border-radius: 25px;
    transition: transform 0.25s ease;
    text-decoration: none;
}

.open-gift:active {
    transform: scale(0.9);
}