body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  user-select: none;
  position: fixed;
  overflow: hidden;
}

/* Убираем скролл бар */
::-webkit-scrollbar {
  width: 0;
}

/* react-transiton-group */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 450ms;
}

@keyframes drop-from-top {
  0% {
    transform: translateY(-10vh) scale(1.15);
    /* Начинаем с позиции выше экрана */
  }

  50% {
    transform: translateY(2vh) scale(0.9);
  }

  100% {
    transform: translateY(0) scale(1);
    /* Возвращаемся на исходное место */
  }
}

@keyframes appearance-gifts {
  0% {
      transform: scale(1.15);
      opacity: 0;
  }
  25% {
      transform: scale(1.05);
      opacity: 0.7;
  }
  50% {
      transform: scale(0.9);
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

/* loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}