body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: "Roboto", sans-serif;
    height: 100%;
    user-select: none;
}

/* react-transiton-group */
.fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 450ms;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 450ms;
  }
  