.container-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    height: 87.5vh;
    width: 100vw;
}

.burn-logo {
    width: 80px;
    height: 80px;
    margin-top: 3.5vh;
    transition: transform 0.3s ease;
}

.burn-logo:active {
    transform: scale(0.85);
}

.tasks-header {
    color: white;
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    text-align: center;
}

.tasks-description {
    color: white;
    font-size: 15px;
    opacity: 65%;
    text-align: center;
    margin-bottom: 20px;
}

.task {
    display: flex;
    align-items: center;
    padding: 18px;
    border-bottom: 1.5px solid #282828;
    width: 85vw;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.text {
    flex: 1;
}

.title {
    color: white;
    font-size: 14px;
    font-weight: 650;
    padding-bottom: 1vh;
}

.points {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.open-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрирование по горизонтали и вертикали */
    height: 35px;
    width: 75px;
    border-radius: 25px;
    background-color: #282828;
}

.open {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 650;
    text-align: center;
}

.open-button:active {
    transform: scale(0.9);
}